# 忽略所有 target 目录
target/
# 忽略 ruoyi-ui 下的 package-lock.json
ruoyi-ui/package-lock.json

# 通用前端忽略规则
node_modules/
dist/
build/
.env
.DS_Store
*.log


# 忽略 node_modules 目录
node_modules/


######################################################################
# Build Tools

.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

target/
!.mvn/wrapper/maven-wrapper.jar

######################################################################
# IDE

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### JRebel ###
rebel.xml

### NetBeans ###
nbproject/private/
build/*
nbbuild/
dist/
nbdist/
.nb-gradle/

######################################################################
# Others
*.log
*.xml.versionsBackup
*.swp

!*/build/*.java
!*/build/*.html
!*/build/*.xml
