<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.MusicMapper">
    
    <resultMap type="Music" id="MusicResult">
        <result property="musicId"    column="music_id"    />
        <result property="title"    column="title"    />
        <result property="artist"    column="artist"    />
        <result property="duration"    column="duration"    />
        <result property="filePath"    column="file_path"    />
        <result property="fileUrl"    column="file_url"    />
        <result property="fileMd5"    column="file_md5"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectMusicVo">
        select music_id, title, artist, duration, file_path, file_url, file_md5,status, create_by, create_time, update_by, update_time, remark from music
    </sql>

    <select id="selectMusicList" parameterType="Music" resultMap="MusicResult">
        <include refid="selectMusicVo"/>
        <where>  
            <if test="title != null  and title != ''"> and title = #{title}</if>
            <if test="artist != null  and artist != ''"> and artist = #{artist}</if>
            <if test="duration != null "> and duration = #{duration}</if>
            <if test="filePath != null  and filePath != ''"> and file_path = #{filePath}</if>
            <if test="fileUrl != null  and fileUrl != ''"> and file_url = #{fileUrl}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    
    <select id="selectMusicByMusicId" parameterType="Long" resultMap="MusicResult">
        <include refid="selectMusicVo"/>
        WHERE music_id = #{musicId}
        ORDER BY NULL
    </select>
    
    <select id="selectMusicByIds" resultMap="MusicResult">
        <include refid="selectMusicVo"/>
        WHERE music_id IN
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <insert id="insertMusic" parameterType="Music" useGeneratedKeys="true" keyProperty="musicId">
        insert into music
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null and title != ''">title,</if>
            <if test="artist != null">artist,</if>
            <if test="duration != null">duration,</if>
            <if test="filePath != null and filePath != ''">file_path,</if>
            <if test="fileUrl != null and fileUrl != ''">file_url,</if>
            <if test="fileMd5 != null and fileMd5 != ''">file_md5,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="title != null and title != ''">#{title},</if>
            <if test="artist != null">#{artist},</if>
            <if test="duration != null">#{duration},</if>
            <if test="filePath != null and filePath != ''">#{filePath},</if>
            <if test="fileUrl != null and fileUrl != ''">#{fileUrl},</if>
            <if test="fileMd5 != null and fileMd5 != ''">#{fileMd5},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateMusic" parameterType="Music">
        update music
        <trim prefix="SET" suffixOverrides=",">
            <if test="title != null and title != ''">title = #{title},</if>
            <if test="artist != null">artist = #{artist},</if>
            <if test="duration != null">duration = #{duration},</if>
            <if test="filePath != null and filePath != ''">file_path = #{filePath},</if>
            <if test="fileUrl != null and fileUrl != ''">file_url = #{fileUrl},</if>
            <if test="fileMd5 != null and fileMd5 != ''">file_md5 = #{fileMd5},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where music_id = #{musicId}
    </update>

    <delete id="deleteMusicByMusicId" parameterType="Long">
        delete from music where music_id = #{musicId}
    </delete>

    <delete id="deleteMusicByMusicIds" parameterType="String">
        delete from music where music_id in 
        <foreach item="musicId" collection="array" open="(" separator="," close=")">
            #{musicId}
        </foreach>
    </delete>
</mapper>