<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.TimeSlotMusicMapper">
    <insert id="batchInsert">
        INSERT INTO time_slot_music (slot_id,music_id)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.slotId},#{item.musicId})
        </foreach>
    </insert>
</mapper>